.brief {
    text-align: justify;
}

.brief a b i {
    padding: 50px;
}

.value a {
    color: white;
}

.value {
    color: white;
}

.copyrights {
    margin: 0px 0px 25px 0px;
}

.header-buttons {
    margin: 0px 0px 85px 0px;
   
}

